/*classe bloc*/
.bloc{
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    & .container {
        padding-left: 0;
        padding-right: 0;
    }
    @media (max-width: 1024px){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: 991px){
        &-group, &-group .bloc{
            display: block;
            width: 100%;
        }
        &-fill-screen .fill-bloc-top-edge,
        &-fill-screen .fill-bloc-bottom-edge {
            padding: 0 20px;
        }
    }
    @media (max-width: 767px){
        padding-left: 0;
        padding-right: 0;
        &-xxl,&-xl,&-lg {
            padding: 40px 0;
        }
        &-sm,&-md {
            padding-left: 0;
            padding-right: 0;
        }
        &-tile-2 .container,&-tile-3 .container,&-tile-4 .container,&-fill-screen .fill-bloc-top-edge,&-fill-screen .fill-bloc-bottom-edge{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (max-width: 400px){
        padding-left: 0;
        padding-right: 0;
    }
    &-lg {
        padding: 100px 50px;
    }
    &-md {
        padding: 50px;
    }
    &-sm {
        padding: 20px 50px;
    }
    &-bg-texture::before {
        content: "";
        background-size: 2px 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

[class^="bg-"]{
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}

.bg{
    &-repeat{
        background: repeat;
    }
    &-t-edge {
        background: top no-repeat;
    }
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc {
    color: rgba(255, 255, 255, .7);
    & button:hover {
        color: rgba(255, 255, 255, .9);
    }
    & [class^="icon-"]{
        border-color: rgba(255, 255, 255, .9);
    }
    & .divider-h span {
        border-color: rgba(255, 255, 255, .2);
    }
    & .a-btn,.navbar a,.navbar-brand,a [class^="icon-"],a{
        color: rgba(255, 255, 255, .6);
    }
    & .a-btn:hover,[class^="navbar"] a:hover,a:hover [class^="icon-"],a:hover {
        color: rgba(255, 255, 255, 1);
    }
    & .navbar-toggle .icon-bar {
        background: rgba(255, 255, 255, 1);
    }
    & .btn-wire,.btn-wire:hover {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }
    & .panel {
        color: rgba(0, 0, 0, .5);
        & button:hover {
            color: rgba(0, 0, 0, .7);
        }
        & icon {
            border-color: rgba(0, 0, 0, .7);
        }
        & .divider-h span {
            border-color: rgba(0, 0, 0, .1);
        }
        & .a-btn {
            color: rgba(0, 0, 0, .6);
            &:hover {
                color: rgba(0, 0, 0, 1);
            }
        }
        & .btn-wire,.btn-wire:hover {
            color: rgba(0, 0, 0, .7);
            border-color: rgba(0, 0, 0, .3);
        }
    }
}

.l-bloc {
    color: rgba(0, 0, 0, .5);
    & button:hover {
        color: rgba(0, 0, 0, .7);
    }
    & [class^="icon-"] {
        border-color: rgba(0, 0, 0, .7);
    }
    & .divider-h span {
        border-color: rgba(0, 0, 0, .1);
    }
    & .a-btn,.navbar a,.navbar-brand,a [class^="icon-"],a {
        color: rgba(0, 0, 0, .6);
    }
    & .a-btn:hover,[class^="navbar"] a:hover,a:hover [class^="icon-"],a:hover {
        color: rgba(0, 0, 0, 1);
    }
    & .navbar-toggle .icon-bar {
        color: rgba(0, 0, 0, .6);
    }
    & .btn-wire,.btn-wire:hover {
        color: rgba(0, 0, 0, .7);
        border-color: rgba(0, 0, 0, .3);
    }
}

@media (max-width: 1024px) {
    .bloc.full-width-bloc,
    .bloc-tile-2.full-width-bloc .container,
    .bloc-tile-3.full-width-bloc .container,
    .bloc-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.hero-bloc-text {
    font-size: 38px;
    &-sub {
        font-size: 36px;
    }
}

.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}