
.footer__partenaires{
    @media screen and (min-width:599px) {
        display: flex;
        justify-content: center;
    }
    & > div{
        @media screen and (min-width:599px) {
            display:flex;
            align-items: center;
        }
        & .partenaires{
            //list-style: none;
            padding: 0;
            margin:0;
            display: flex;
            flex-flow:column nowrap;
            align-items: flex-start;    
            & > li > a{
                color: map-get($colors,secondary)!important;
                font-weight: bold;
                &:hover{
                    color: rgba(255, 255, 255, 1)!important;
                }
            }            
            @media screen and (min-width:599px) {
                flex-flow: row nowrap;
                margin: 10px auto;
                & > li{
                    margin: auto 15px;
                }
            }
        }
    }
    
}

.social {
    max-width: 400px;
    margin: auto;
    & a:focus{
        > span{
           color:map-get($colors,secondary);
           font-weight: bold;
        }                                                       
    }
}