body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav .caret {
    margin: 0 5px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:focus{
    color:map-get($colors,secondary);
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("../img/pageload-spinner.gif") no-repeat center center;
}

h1,h2,h3,h4,h5,h6,p,label,.btn,a {
    font-family: "helvetica";
    font-weight: normal;
    color: map-get($colors,secondary);
}

h1,h3,h4 {
    color: #333333!important;
}

.h1 {
    font-size: 20px;
    font-family: "Open Sans";
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 14px;
} 

#agence_maps{
    width:100%;
    height:390px;
}

form {
    padding: 5px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.mg{
    &-md {
    margin-top: 10px;
    margin-bottom: 20px;
    }
    &-lg {
    margin-top: 10px;
    margin-bottom: 40px;
    }
}

.panel{
    &-rd{
        border-radius: 30px;
    }
    &-rd &-heading{
        border-radius: 29px 29px 0 0;
    }
    &-rd &-footer {
        border-radius: 0 0 29px 29px;
    }
    &-sq, &-sq &-heading, &-sq &-footer{
        border-radius: 0;
    }
}

.container {
    max-width: 1000px;
    @media (max-width: 991px) {
        width: 100%;
    }
    @media (max-width: 767px) {
        .page-container {
            overflow-x: hidden;
            position: relative;
        }
    }
}

.texture-paper::before {
    background: url("../img/texture-paper.png");
    background-size: 280px 280px;
}

.title{
    margin: auto;
    padding-bottom: 1em;
    font-size: 22px;
    width: 65%;
}

.citation{
    margin:auto;
    font-size: 21px;
    width: 60%;
    @media screen and (min-width:599px) {
        width: auto;
    }
    &__source{
        font-size: 14px;
        font-weight: lighter;
    }
}

.white {
    color: #FFFFFF!important;
}

.gray{
    color:#424242!important;
}

.black-background {
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px 40px 40px 40px;
}

.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: map-get($colors,primary);
}

.tc-white {
    color: #F7BCA1!important;
}

.ltc-white {
    color: #FFFFFF!important;
}

.ltc-white:hover {
    color: #cccccc!important;
}

.ltc-atomic-tangerine {
    color: map-get($colors,primary)!important;
}

.ltc-atomic-tangerine:hover {
    color: map-get($colors,secondary)!important;
}

.icon{
    &-lg {
        font-size: 60px!important;
    }
    &-md {
        font-size: 30px!important;
    }
    &s {
        margin-bottom: 14px;
        margin-top: 24px;
    }
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important;
}

img.img-responsive.portfolio-thumb{
    width: 100%;
}

.bg-dots-bg {
    background-image: url("../img/dots-bg.png");
}

.bg-lines-h2-bg {
    background-image: url("../img/lines-h2-bg.png");
}

.bg-banniere {
    background-image: url("../img/la-chouette-agence-banniere.webp");
}

.bg-presentation {
    background-image: url("../img/image-de-presentation.webp");
}

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}

.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}