.btn{
    margin: 0 5px 5px 0;
    &-atomic-tangerine {
        background: map-get($colors,primary);
        color: map-get($colors,secondary)!important;
        &:hover, &:focus {
            background: map-get($colors,tertiary)!important;
            color: map-get($colors,secondary)!important;
        }
    }
    &.pull-right{
        margin: 0 0 5px 5px;
    }
    &-d,&-d:hover,&-d:focus{
        color: #FFF;
        background: rgba(0, 0, 0, .3);
    }
    &-rd{
        border-radius: 40px;
    }
    &-clean{
        border: 1px solid rgba(0, 0, 0, .08);
        border-bottom-color: rgba(0, 0, 0, .1);
        text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
        box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
    }
    &-dwn {
        display: none;
    }
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}
