.navbar{
    margin-bottom: 0;
    z-index: 1;
    &-toggle{
        margin: 10px 10px 0 0;
        border: 0px;
        &:hover{
            background: transparent!important;
        }
        & .icon-bar {
            background-color: rgba(0, 0, 0, .5);
            width: 26px;
        }
    }
    & .nav{
        padding-top: 2px;
        margin-right: -16px;
        float: right;
        z-index: 1;
        &-invert{
            & .navbar .nav{
                float: left;
            }
            &  .navbar-header,.navbar-brand{
                float: right;
                position: relative;
                z-index: 2;
            }
            @media (min-width: 768px){
                & .site-navigation{
                    left: 0;
                    right: 0;
                }
                & .navbar-header {
                    float: none;
                    width: 100%;
                }
                & .navbar-toggle {
                    float: left;
                    margin-left: 10px;
                }
            }
        }
        @media (max-width: 767px){
            padding-top: 0;
            border-top: 1px solid rgba(0, 0, 0, .2);
            float: none!important;
            & > li{
                margin-top: 0;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                background: rgba(0, 0, 0, .05);
                text-align: left;
                padding-left: 15px;
                width: 100%;
                & > a{
                    border: 1px solid transparent !important;
                }
            }
            & > li:hover {
                background: rgba(0, 0, 0, .08);
            }
        }
        &-center{
            & .navbar-brand img{
                margin: 0;
            }
            &.navbar .nav{
                @media (max-width: 992px) and (min-width: 768px){
                    max-width: 100%
                }
            }
            @media (min-width: 768px){
                text-align: center;
                & .navbar-header {
                    width: 100%;
                }
                & .navbar-header,.navbar-brand,.nav > li{
                    float: none;
                    display: inline-block;
                }
                & .site-navigation{
                    position: relative;
                    width: 100%;
                    right: 0;
                    margin-right: 0px;
                    margin-top: 20px;
                }
                &.mini-nav .navbar-toggle{
                    float: none;
                    margin: 10px auto 0;
                }
            }
        }
        & .open .dropdown-menu > li > a{
            text-align: inherit;
        }
        @media (max-width: 992px) and (min-width: 768px){
            max-width: 80%
        }
        & > li{
            float: left;
            margin-top: 4px;
            font-size: 16px;
            & > .dropdown a{
                background: none!important;
                display: block;
                padding: 14px 15px;
            }
            & a{
                color: map-get($colors,secondary);
                border-bottom: 2px solid transparent;
                margin-bottom: 0px;
            }
            & a:not(:focus){
                color: map-get($colors,secondary);
                border-bottom: 1px solid transparent;
                margin-bottom: 1px;
            }
            & a.nav--selected{
                color: map-get($colors,secondary);;
                border-bottom: 1px solid map-get($colors,primary);
                margin-bottom: 1px;
            }
            & /*a:hover,*/ a:focus{
                background: transparent;
                color: map-get($colors,primary);
                border-bottom: 2px solid  map-get($colors,primary);
                margin-bottom: 0px;
            }
            & a:not(:focus):hover{
                background: transparent;
                color: map-get($colors,secondary);
                border-bottom: 2px solid  map-get($colors,primary);
                margin-bottom: 0px;
            }
            @media (min-width: 768px){
                & .dropdown-menu a, .dropdown-menu a:hover{
                    color: map-get($colors,secondary);
                }
            }
        }
    }
    &-brand{
        height: auto;
        padding: 3px 15px;
        font-size: 25px;
        font-weight: normal;
        font-weight: 600;
        line-height: 44px;
        & img{
            max-height: 200px;
            margin: 0 5px 0 0;
            display: inline;
            @media (max-width: 767px){
                max-height: 40px;
            width: auto;
            }
        }
        & img[src$=svg]{
            min-width: 100px;
        }
    }
    @media (max-width: 767px){
        &.row {
            margin-left: 0;
            margin-right: 0;
        }
        &-collapse {
            padding: 0;
            overflow-x: hidden;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}
.site-navigation{
    @media (min-width: 768px){
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }

    @media (min-width: 768px){
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
}

.dropdown-menu{
    & .dropdown span{
        border: 4px solid black;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        margin: 6px -5px 0 0!important;
        float: right;
    }
    & .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    & .dropdown-menu{
        top: -8px;
        left: 100%;
    }
    & .dropmenu-flow-right{
        top: 100%;
        left: 0;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}