.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
    & span{
        margin-top: 6px;
    }
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}